body {
	background-color: #f2f2f2;
	font-family: "Lato";
	font-weight: 300;
	font-size: 16px;
	color: #555;

	-webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch;
}

/* Titles */
h1, h2, h3, h4, h5, h6 {
	font-family: "Raleway";
	font-weight: 300;
	color: #333;
	padding: 0 3px;
	text-align: center;
}

/* Paragraph & Typographic */
p {
	line-height: 28px;
	margin-bottom: 25px;
}

/* Links */
a {
	color: #6998E2;
	text-decoration: underline;
	-webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
	-moz-transition: color 0.1s ease-in, background 0.1s ease-in;
	-ms-transition: color 0.1s ease-in, background 0.1s ease-in;
	-o-transition: color 0.1s ease-in, background 0.1s ease-in;
	transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
	color: #7b7b7b;
	text-decoration: none;
	outline: 0;
}

a:before,
a:after {
	-webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
	-moz-transition: color 0.1s ease-in, background 0.1s ease-in;
	-ms-transition: color 0.1s ease-in, background 0.1s ease-in;
	-o-transition: color 0.1s ease-in, background 0.1s ease-in;
	transition: color 0.1s ease-in, background 0.1s ease-in;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

/*
*
#NAV
*
*/
.fixed-top {
	position: fixed;
	overflow-y: scroll;
	z-index: 4;
	overflow: auto;
}
/*
*
#ELEMENTS
*
*/
#infoPacket{
	padding-top: 200px;
}
/*
*
#PACKAGES
*
*/
.packages{ max-width: 800px; margin: 0 auto;}
.package{
	max-width: 400px;
	margin: 0 auto;
}
.package img { max-width: 200px;}
/*
*
#FAQ
*
*/
#faq h3 {
	font-weight: 700;
}
/*
*
# REQUEST
*
*/
.input-inline {
	border-radius: 3px;
	line-height: 34px;
	outline: none;
	border: none;
	padding: 0 10px;
}
.input-inline + .button {
	position: relative;
	left: -5px;
	border-radius: 0 3px 3px 0;
	margin-bottom: 10px;
}

.alert-message{ color: red;}



/* ========End Here ==== */

#aboutNav, #mapNav {
	height: 50px;
	z-index: -100;
}

#subscribeNav{ height: 100px; }
#packageNav {
	height: 50px;
}

#map{
	height: 207;
}

#faq {
	padding-bottom: 35px;
}

#firstFaq {
	padding-bottom: 0px;

}

.toggleThis{
	display: none;
}

#topSpace {
	margin-top: 50px;
}

.bottomSpace {
	margin-bottom: 50px;
}
#members h3 {
	margin-top: 30px;
}

#packageText {
	width: 700px;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.video {
	padding: 0 10px;
	max-width: 600px;
	float: none;
	margin: 0 auto;
	display: none;
}

#requestBtn {
	display:inline-block;
	background-color: rgb(245, 132, 122);
	color: rgb(122, 43, 43);
}
.button{
	display:inline-block;
	background-color: #66E066;
	color: white;
	font-weight: 700;
	margin-bottom: 50px;
	text-decoration: none;
	text-transform: uppercase;
	vertical-align: top;
}

.button:active{
	outline: none;
	color: white;
}

.images {
	margin: 0 auto;
	width: 100%;
}

.images a img{
	margin: 5px 5px 5px 5px;
}

.confirmation-dialog {
	background-color: blue;
}



/* ==========================================================================
Wrap Sections
========================================================================== */

.headerwrap {
	background: url(http://3.bp.blogspot.com/--_f_WUBi-KM/VEzUqb0NUhI/AAAAAAAAABs/l2TvvkfeYn0/s1600/neatjungle%2Bcabin%2B3.jpg);
	background-size: cover;
	background-position: bottom;
	text-align: center;
}

.headerwrap h1, .headerwrap h2 {
	color: white;
	text-shadow: 2px 2px 10px black;
}

.headerwrap h1 {
	font-size: 70px;
	font-weight: 700;
	letter-spacing: 3px;
}

.headerwrap h2 {
	font-size: 30px;
	font-weight: 500;
	letter-spacing: 2px;
	margin: 0 0 20px;
}

.video {
	display: block;
}

.port-space {
	padding-bottom: 20px;
}

.map img {
	width: 100%;
}

.form-container{ max-width: 350px; margin: 0 auto; margin-top: 20px;}


/* White Wrap */

.w {
	background: #ffffff;
	padding-top: 35px;
	padding-bottom: 50px;
	text-align: center;
}

.w h3 {
	font-weight: 700;
	color: #7b7b7b;
	letter-spacing: 1px;
}

.w bold {
	color: #2f2f2f;
}


/* Grey Wrap */

.g {
	background: #f2f2f2;
	padding-top: 35px;
	padding-bottom: 35px;
	text-align: center;
}

/* Dark Grey Wrap */
.dg {
	background: #e0e0e0;
	padding-top: 70px;
	padding-bottom: 70px;
	text-align: center;
}

/* Blue Wrap */
#bl {
	background: #66B5D7;
	padding-top: 35px;
	padding-bottom: 60px;
	text-align: center;

}

#bl h3 {
	color: white;
}

/* Footer Wrap */

#f {
	background: #2f2f2f;
	padding-top: 70px;
	padding-bottom: 70px;
	text-align: center;

}

#f h3 {
	color: white;
}

#f i {
	font-size: 26px;
	color: white;
	padding-left: 10px;
	padding-right: 10px;
}

/* Copyright Wrap */

#c {
	background: #222222;
	padding-top: 15px;
	text-align: center;
}

#c p {
	color: white
}


/* MENU CONF*/

.menu {
	position: fixed;
	right: -200px;
	width: 260px;
	height: 100%;
	top: 0;
	z-index: 10;
	text-align: left;
}

.menu.menu-open {
	right: 0px;
}

.menu-wrap {
	position: absolute;
	top: 0;
	left: 60px;
	background: #1a1a1a;
	width: 200px;
	height: 100%;
}

.menu .menu-title {
	font-family: 'Raleway', Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-weight: 800;
	letter-spacing: 0.15em;
	line-height: 40px;
	text-transform: uppercase;
	color: #ffffff;
	margin-top: 20px;
	text-align: left;
}

.menu h1.logo a:hover {
	color: #f85c37;
}

.menu img.logo {
	margin: 20px 0;
	max-width: 160px;
}

.menu a {
	margin-left: 20px;
	color: #808080;
	display: block;
	font-size: 12px;
	font-weight: 700;
	line-height: 40px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}

.menu a:hover {
	color: #ffffff;
}

.menu a:active {
	color: #ffffff;
}

.menu a > i {
	float: left;
	display: inline-block;
	vertical-align: middle;
	text-align: left;
	width: 25px;
	font-size: 14px;
	line-height: 40px;
	margin: 25px 2px;
}

.menu-close {
	cursor: pointer;
	display: block;
	position: absolute;
	font-size: 14px;
	color: #808080;
	width: 40px;
	height: 40px;
	line-height: 40px;
	top: 20px;
	right: 20px;
	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	-ms-transition: all .1s ease-in-out;
	-o-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out;
}

.menu-close:hover {
	color: #ffffff;
	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	-ms-transition: all .1s ease-in-out;
	-o-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out;
}

/* Push the body after clicking the menu button */
.body-push {
	overflow-x: hidden;
	position: relative;
	left: 0;
}

.body-push-toright {
	left: 200px;
}

.body-push-toleft {
	left: -200px;
}

.menu,
.body-push {
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

#menuToggle {
	position: absolute;
	top: 20px;
	left: 0;
	z-index: 11;
	display: block;
	text-align: center;
	font-size: 14px;
	color: #ffffff;
	width: 40px;
	height: 40px;
	line-height: 40px;
	cursor: pointer;
	background: rgba(0,0,0,0.25);
	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	-ms-transition: all .1s ease-in-out;
	-o-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out;
}

#menuToggle:hover {
	color: #ffffff;
	background: rgba(0,0,0,0.2);
	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	-ms-transition: all .1s ease-in-out;
	-o-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out;
}


@media screen and (min-width: 600px) {
	.headerwrap h2 {
		font-size: 22px;
		margin-bottom: 40px;
	}
	.images#topSpace iframe{
		margin: 5px 5px -95px 5px;
	}
}

@media screen and (min-width: 768px) {
	.headerwrap{
		background: url(http://3.bp.blogspot.com/--_f_WUBi-KM/VEzUqb0NUhI/AAAAAAAAABs/l2TvvkfeYn0/s1600/neatjungle%2Bcabin%2B3.jpg);
		background-size: cover;
		background-position: bottom;
		min-height: 450px;
	}

	.headerwrap .container {
		position: absolute;
		left: 0;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
	}
	.menu{
		display: none;
	}

	.navbar-fixed-top {
		top: -1px;
		z-index: 1030;
		display: inline-block;
		width: 100%;
		right: 0;
		height: 30px;
		position: fixed;
		background-color: white;
		display: inline-block;
		box-shadow: 1px -10px 20px 0 #333
	}

	.nav{ max-width: 700px; margin: 0 auto;}

	.nav > li > a {
		position: relative;
		display: block;
		color: #666;
		text-align: center;
		text-decoration: none;
	}

	.nav > li {
		display: inline-block;
		width: 19.5%;
	}
}



@media (min-width: 800px) {
	.headerwrap h1 {
		margin-top: 90px;
	}
}

@media (min-width: 1020px) {
	.headerwrap h1 {
		margin-top: 90px;
	}
	.packages { max-width: 1200px;}
	.packages .package{
		width: 33%;
		float: left;
		padding: 0 30px;
	}
}
@media screen and (min-width: 1400px) {
	.images {
		width: 1400px;
	}
}
